<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <link rel="stylesheet" href="/css/rules.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="background-wrapper">
        <div class="rules-box">
            <h1>Rules of the game</h1>
            <p>- Swap neighboring gems to make 3+ identical ones.</p>
            <p>- You get points for each match.</p>
            <p>- Combos of 4 and 5 gems give bonus points.</p>
            <p>- In the 'Game of Time' you are limited by a timer!</p>
            <a th:href="@{/}" class="back-btn"><i class="fas fa-arrow-left"></i> Back to menu</a>
        </div>

        <img src="/images/background_menu.png" alt="Background" class="menu-image"/>
    </div>
</div>
</body>
</html>